.accountHeader {
  height: 120px;
  background-color: rgb(0, 188, 212);
  color: white;
  padding: 15px;
  position: relative;
}

.accountHeader-title {
  position: absolute;
  bottom: 35px;
  font-weight: bold;
}

.accountHeader-subtitle {
  position: absolute;
  bottom: 15px;
}