.cardWrapper {
  margin: 10px 10px 0;
  width: calc(100% - 20px);
  float: left;
}

.layout-sm .cardWrapper {
  width: calc(50% - 20px);
}

.layout-lg .cardWrapper {
  width: calc(33% - 20px);
}

.layout-xxl .cardWrapper {
  width: calc(25% - 20px);
}

